.advantage {
	min-height: 470px;
	padding: 70px 0 78px 0;
	background-color: #f6f6f6;
	&__icons {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
	}
	&__icon {
		width: 252px;
		text-align: center;
		img	{
			display: block;
			margin: 0 auto;
		}
	}
	&__descr {
		margin-top: 38px;
		color: #0d0d0d;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		span {
			display: block;
			font-weight: 700;
			font-size: 18px;
			
		}
		a {
			color: #ff0000;
			text-decoration: underline;
		}
	}

}
