.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: rotateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        left: auto;
        right: -66px;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav {
        width: 200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: 0.5 s all;
        button {
            border: none;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            opacity: 0.2;
            transform: translateX(-50%);
            left: 50%;
            background-color: #000;
            box-shadow: 2px 2px 20px #000;
        }
        .tns-nav-active {
            transition: 0.5s all;
            opacity: 0.6;
            background-color: $col1;
            box-shadow: 2px 2px 15px $col1;
			border: none;
        }
    }
}
